.top-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 103, 178);
}

.facebook-logo {
  margin: left;
}

.facebook-login {
  display: flex;
  align-self: center;
  padding: 15px;
  font-family: sans-serif;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

aside form div {
    display: flex;
  
}

.campo-genero {
    display: flex;
}
