
body { 
    
    background-color: rgb(253,251,251,); 

}

#cabeçalho {
   top: 0px;
   text-align: center;

}

a {
    text-align: left;
    align-self: hover;
    display: inline-block;
    margin-left: 20px;
    float: left;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}

header { 
    background-color: cadetblue;
    padding: 20px;
    color: white;
    
       

}

#titulo  {
    text-align: center;
    font-size: 30px;
}

img { margin: 5px;
      width: 230px;
      height: auto;


}
#licoes_aprendidas {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 0;
    display: inline-block;
   
}


#licoes_a_aprender {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    display: inline-block;
   

}

h2 {
    color: black;
    font-size: 25px;
    
}

ol, ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

}


.artigo {
    line-height: 25px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article  {  
    line-height: 25px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

h4 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 p {
    line-height: 25px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


thead { text-align: left;
        padding: px;

    
}

th  {
    padding: 15px;
    
    
}

h5 {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* falta o número 15 para baixo */ 