/* Lista do carrinho */
ul {
  list-style: none;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  gap: 10px; /* espaçamento entre colunas */
}

.item-price {

    display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente o preço */
 
}

.item-quantity {

}

button {
  margin-top: 5px;
  width: 70px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.button-final {
  width: 175px;
}

button:hover {
  opacity: 0.8;
}

h3 {
  margin-top: 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 22px;
}
