#title {
    text-align: center;
  }
  
  #color-palette { 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .color {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  #pixel-board { 
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-gap: 1px;
  }
  
  .pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  #clear-board {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
  }
  