#color-palette { 

    display: flex;
    width: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.color {
    border: 1px solid black;
    display: inline-block;
}

.borda { 
    border: 1px solid black;
  
}

.quadradoUm { 
    border: 1px solid black;
    height: 90px;
    width: 80px;
    background-color: black;
    margin-right: 5px;
 
    

}

.quadradoDois {

    border: 1px solid black;
    height: 90px;
    width: 80px;
    background-color: rgb(121, 158, 238);
    margin-right: 5px;
    

}

.quadradoTres {

    border: 1px solid black;
    height: 90px;
    width: 80px;
    background-color: rgb(235, 235, 131);
    margin-right: 5px;

}

.quadradoQuatro {

    border: 1px solid black;
    height: 90px;
    width: 80px;
    background-color: rgb(140, 31, 31);
 
   
}

#pixel-board { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0;
    display: flex;
    display: grid;
  




}

.pixel {
    
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: white;


}

.vertical {

}
